@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap'); 

/*=================== ROOT ==================*/


:root {
    /*Characters*/
        --enigmatic: #864e87;
        --warm_spicy: #ba5c5b;
        --woody:#795e43;
        --creamy:#ca9775;
        --floral:#a262a3;
        --citrus:rgba(239, 206, 97, 0.667);
        --ambery:rgba(255, 146, 79, 0.863);
        --gourmand:#8c548d;
        --creamy:rgb(241, 204, 100);
        --aromatic:rgb(80, 182, 68);
        --sweet:#c277ad;
        --fresh:rgb(100, 80, 160);
        --enigmatic:rgb(208, 100, 241);
        --vanila:#7a71d4;
        --balsamic:chocolate;
        --tropical:rgb(232, 184, 51);
        --fruity:rgb(213, 105, 59);
        --earthy:rgb(206, 119, 214);
        --chypre:rgb(237, 209, 134);
        --leather:rgb(141, 103, 76);
        --musk:rgb(125, 102, 90);
        --powdery:rgb(241, 204, 100);
        --rose:rgb(227, 137, 227);
        --ambery:rgb(212, 132, 146);
        --smooky:rgb(174, 125, 174);

        /*Green gradient*/
  --body-color: linear-gradient(90deg, #61a5a5 0%, #5E1675 100%);
  --container-color: linear-gradient(136deg, hsl(275, 40%, 26%) 0%, hsl(192, 13%, 16%) 100%);
      }
