@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap'); 

/*=================== ROOT ==================*/


:root {
    /*Characters*/
        --enigmatic: #864e87;
        --warm_spicy: #ba5c5b;
        --woody:#795e43;
        --creamy:#ca9775;
        --floral:#a262a3;
        --citrus:rgba(239, 206, 97, 0.667);
        --ambery:rgba(255, 146, 79, 0.863);
        --gourmand:#8c548d;
        --creamy:rgb(241, 204, 100);
        --aromatic:rgb(80, 182, 68);
        --sweet:#c277ad;
        --fresh:rgb(100, 80, 160);
        --enigmatic:rgb(208, 100, 241);
        --vanila:#7a71d4;
        --balsamic:chocolate;
        --tropical:rgb(232, 184, 51);
        --fruity:rgb(213, 105, 59);
        --earthy:rgb(206, 119, 214);
        --chypre:rgb(237, 209, 134);
        --leather:rgb(141, 103, 76);
        --musk:rgb(125, 102, 90);
        --powdery:rgb(241, 204, 100);
        --rose:rgb(227, 137, 227);
        --ambery:rgb(212, 132, 146);
        --smooky:rgb(174, 125, 174);

        /*Green gradient*/
  --body-color: linear-gradient(90deg, #61a5a5 0%, #5E1675 100%);
  --container-color: linear-gradient(136deg, hsl(275, 40%, 26%) 0%, hsl(192, 13%, 16%) 100%);
      }


* {
    padding: o;
    margin: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #61a5a5 0%, #5E1675 100%);
    font-family: Poppins;
    display: swap;
    height: auto;
}

/*================= NAVBAR =================*/
.navbar {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    background-color: rgb(0, 0, 0);
    position: fixed;
    max-width: 100%;
    z-index: 1000;
}

.navbar p {
    color: whitesmoke;
}

i {
   padding: 1rem;
   display: block;
   float: left;
   text-align: center;
   color: rgb(255, 255, 255);
}

i:hover {
    background-color: rgb(67, 67, 67);
}

marquee {
    color: rgb(255, 255, 255);
    
}

/*=============== Desc IMG 1 ================*/

.ur1 {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 10vh 10vh 10vh 0vh;
}

.desc img {
    padding: 0;
    width: 50%;
    
    object-fit: cover;
}

.desc .deskripsi {
    width: 25%;
    font-size: 20px;
}

/*================= Transisi Gambar =================*/

.fadein img {
    margin: 9rem;
    position: absolute;
    top:0.5rem;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    left: 87vh;
    margin-right: 20em;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}


#f2 {
    -webkit-animation-delay: -2s;
}

#f3 {
    -webkit-animation-delay: -4s;
}

#f4 {
    -webkit-animation-delay: -6s;

}

/*================== Min-Content ==================*/

.min-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    max-width: 400px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 700px){
    .min-content{
      width: 100%;  
    }
}
/*================== Deskripsi ==================*/

p span { 
    display: block; 
}

.description {
    margin: 8rem;
    padding:1rem;
    border-radius: 1em;
}

@media screen and (max-width: 700px) {  
    .description {
        width: 25%;
        flex-direction: column;
    }
}

.desc {
    padding-bottom: 2rem;
    
}

.des {
    width: 28rem;
    padding-left: 2rem;
    margin-top: 0rem;
    height:45vh;
}

/*character*/

.char-list {
    display: flex;  
}

.char div:not(h4) {
    color: rgb(255, 255, 255);
    font-size: 13px;
    
}

.box {
    border-radius: 20px;
    margin: 0.3em;
    padding: 4px;
}

.box text {
    opacity: 1;
}



/*======================= Option-Slider =======================*/

a {
text-decoration: none;
color: inherit;
}

.container {
max-width: 600px;
width: 100%;
}

 ul{
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: space-between;

}

 li a {
color: #e06969;
}

 li a:hover {
padding-bottom: 4px;
border-bottom: 3px solid blueviolet;
}

.wrapper_tab-content {
position: relative;
}

.tab-content {
position: absolute;
padding: 1.75em 0;
visibility: hidden;
height: 0;
line-height: 2rem;
}

.tab-content h1 {
font-size: 1.12em;
margin-bottom: 0.5em;
}

.pi {
    display: flex;
    gap: 3em;
}

.content-visible {
position: static;
visibility: inherit;
height: auto;
}

.active {
color: #444;
padding-bottom: 4px;
border-bottom: 3px solid blueviolet;
}

