@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap'); 

* {
    padding: o;
    margin: 0;
    font-family: Poppins;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image:repeating-linear-gradient(rgb(88, 0, 0), rgb(255, 143, 102));
    font-family: Poppins;
    display: swap;
    height: 100vh;
}

/*================= NAVBAR =================*/
.navbar {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    background-color: rgb(0, 0, 0);
    position: fixed;
    max-width: 100%;
    z-index: 1000;
}

.navbar p {
    color: whitesmoke;
}

i {
   padding: 1rem;
   display: block;
   float: left;
   text-align: center;
   color: rgb(255, 255, 255);
}

i:hover {
    background-color: rgb(67, 67, 67);
}

marquee {
    color: rgb(255, 255, 255);
    
}

/*=============== Desc IMG 1 ================*/

.ur1 {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 10vh 10vh 10vh 0vh;
}

.desc img {
    padding: 0;
    width: 50%;
    height: 55vh;
    object-fit: cover;
}

.desc .deskripsi {
    width: 25%;
    font-size: 20px;
}

/*================= Transisi Gambar =================*/

.fadein img {
    margin: 9rem;
    position: absolute;
    top:0.5rem;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    left: 110vh;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}


#f2 {
    -webkit-animation-delay: -2s;
}

#f3 {
    -webkit-animation-delay: -4s;
}

#f4 {
    -webkit-animation-delay: -6s;

}

/*================== Min-Content ==================*/

.min-content {
    display: flex;
    padding-bottom: 2rem;
}

/*================== Deskripsi ==================*/
p span { 
    display: block; 
}

.description {
    margin: 8rem;
    padding:1rem;
    border-radius: 1em;
    position: initial;
    height: 75vh;
}

.desc {
    padding-bottom: 1rem;
}

.des {
    width: 28rem;
    padding-left: 2rem;
    margin-top: 1rem;
}



/*character*/

.char-list {
    display: flex;
    font-size: 14px;
    
}

.char div:not(h4) {
    color: rgb(128, 0, 0);
    
}

.box {
    border-radius: 20px;
    margin: 0.2em;
}

.box text {
    opacity: 1;
}

.c1 {
    background-color: rgba(0, 0, 255, 0.199);
    border: 1px solid rgba(0, 0, 255, 0.199);
}

.c2 {
    background-color: rgba(255, 0, 0, 0.274);
    border: 1px solid rgba(255, 0, 0, 0.274);
}

.c3 {
    background-color: rgba(210, 105, 30, 0.402);
    border: 1px solid rgba(210, 105, 30, 0.402);
}

/* Button */

button {
    position: relative;
    padding: 0.8rem;
    background-color: black;
    color: white;
    width: 56vh;
}
/*======================= Option-Slider =======================*/

a {
text-decoration: none;
color: inherit;
}

.container {
max-width: 600px;
width: 100%;
}

ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: space-between;
height: 30px;
}

li a {
color: #e06969;
}

li a:hover {
padding-bottom: 4px;
border-bottom: 3px solid blueviolet;
}

.wrapper_tab-content {
position: relative;
}

.tab-content {
position: absolute;
padding: 1.75em 0;
visibility: hidden;
height: 0;
line-height: 2rem;
}

.tab-content h1 {
font-size: 1.12em;
margin-bottom: 0.5em;
}

.pi {
    display: flex;
    gap: 3em;
}

.content-visible {
position: static;
visibility: inherit;
visibility: inherit;
height: auto;
}

.active {
color: #444;
padding-bottom: 4px;
border-bottom: 3px solid blueviolet;
}

/*================== FOOTER ====================*/
.footer {
    background-color: black;
    padding: 5rem;
    display: flex;
    align-items: center;
    gap: 30rem;
}

.text {
    color: white;
    font-size: 7em;
}

.info {
    color: white;
    font-size: 100px;
}